@page "/blog-detail"
@page "/blog-detail/{BlogId:long}"

@inject IToastService toastService
@inject IJSRuntime IJS
@inject BlogService BlogSvc
@inject BlogCommentService BlogCommentSvc
@inject UserProfileService UserSvc
@inject NavigationManager NavMgr

<div class="container-fluid">
    <section class="blog-page section-padding">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="main-title">
                        <div class="btn-group float-right right-action">
                            <a aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" class="right-action-link text-gray" href="#">
                                Sort by <i aria-hidden="true" class="fa fa-caret-down"></i>
                            </a>
                            <div class="dropdown-menu dropdown-menu-right">
                                <a href="#" class="dropdown-item"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                                <a href="#" class="dropdown-item"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>
                                <a href="#" class="dropdown-item"><i class="fas fa-fw fa-times-circle"></i> &nbsp; Close</a>
                            </div>
                        </div>
                        <h6>Blog Detail</h6>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="card blog mb-4">
                        <div class="blog-header">
                            <a href="#"><img class="card-img-top" src="@(string.IsNullOrEmpty(DataBlog.ImageUrl)?"img/blog/2.png":DataBlog.ImageUrl)" alt="Card image cap"></a>
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"><a href="#">@DataBlog.Title</a></h5>
                            <div class="entry-meta">
                                <ul class="tag-info list-inline">
                                    <li class="list-inline-item"><a href="#"><i class="fas fa-calendar"></i>  @DataBlog.CreatedDate.ToString("MMMM dd, yyyy")</a></li>
                                    <li class="list-inline-item"><i class="fas fa-folder"></i> <a rel="category tag" href="#" @onclick="()=>SearchByCategory(DataBlog.Category)" @onclick:preventDefault>@DataBlog.Category</a></li>
                                    <li class="list-inline-item"><i class="fas fa-tag"></i>
                                        @if (!string.IsNullOrEmpty(DataBlog.Tags))
                                            @foreach (var tag in DataBlog.Tags.Split(','))
                                            {
                                                <a rel="tag" href="#" @onclick="()=>SearchByTag(tag)" @onclick:preventDefault>@tag</a>

                                                @(",")
                                            }
                                    </li>
                                    <li class="list-inline-item"><i class="fas fa-comment"></i> <a href="#">@(DataBlog.BlogComments == null ? 0 : DataBlog.BlogComments.Count()) Comments</a></li>
                                </ul>
                            </div>
                            @((MarkupString)DataBlog.Body)
                            <footer class="entry-footer">
                                <div class="blog-post-tags">
                                    <ul class="list-inline">
                                        <li class="list-inline-item"><i class="fas fa-tag"></i> Tags: </li>
                                        @if (!string.IsNullOrEmpty(DataBlog.Tags))
                                        @foreach(var tag in DataBlog.Tags.Split(','))
                                        {
                                                <li class="list-inline-item"><a rel="tag" @onclick="()=>SearchByTag(tag)" @onclick:preventDefault href="#">@tag</a> </li>
                                        }
                                       
                                       
                                    </ul>
                                </div>
                            </footer>
                        </div>
                    </div>
                    <div class="card padding-card reviews-card mb-4">
                        <div class="card-body">
                            <h5 class="card-title mb-4">@(DataBlog.BlogComments == null ? 0 : DataBlog.BlogComments.Count()) Reviews</h5>
                            @if (DataBlog.BlogComments != null)
                                @foreach (var item in DataBlog.BlogComments)
                                {
                                    <div class="media mb-4">
                                        <img alt="" src="img/s2.png" class="d-flex mr-3 rounded">
                                        <div class="media-body">
                                            <h5 class="mt-0">
                                                @item.Name <small>@item.CreatedDate.ToString("MMM dd, yyyy")</small>
                                                <span class="star-rating float-right">
                                                    <i class="fas fa-star text-warning"></i>
                                                    <i class="fas fa-star text-warning"></i>
                                                    <i class="fas fa-star text-warning"></i>
                                                    <i class="fas fa-star text-warning"></i>
                                                    <i class="fas fa-star text-warning"></i><small class="text-success">5/5</small>
                                                </span>
                                            </h5>
                                            <p>@item.Comment</p>
                                        </div>
                                    </div>
                                }
                        </div>
                    </div>
                    <div class="card blog">
                        <div class="card-body">
                            <h5 class="card-title mb-4">Leave a Comment</h5>
                            <form name="sentMessage">
                                <div class="row">
                                    <div class="control-group form-group col-lg-6 col-md-6">
                                        <div class="controls">
                                            <label>Your Name <span class="text-danger">*</span></label>
                                            <input type="text" @bind="NewComment.Name" required="" class="form-control">
                                        </div>
                                    </div>
                                    <div class="control-group form-group col-lg-6 col-md-6">
                                        <div class="controls">
                                            <label>Your Email <span class="text-danger">*</span></label>
                                            <input type="email" @bind="NewComment.Email" required="" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="control-group form-group">
                                    <div class="controls">
                                        <label>Review <span class="text-danger">*</span></label>
                                        <textarea @bind="NewComment.Comment"  class="form-control" cols="100" rows="10"></textarea>
                                    </div>
                                </div>
                                <button class="btn btn-success" type="button" @onclick="SaveComment">Post Comment</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card sidebar-card mb-4">
                        <div class="card-body">
                            <div class="input-group">
                                <input type="text" @bind="Keyword" @onkeyup="KeyUp" placeholder="Search For" class="form-control">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary" @onclick="Search">Search <i class="fas fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card sidebar-card mb-4">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Categories</h5>
                            <ul class="sidebar-card-list">
                                @foreach (var cat in ListCategory)
                                {
                                    <li><a href="#" @onclick="()=>SearchByCategory(cat)" @onclick:preventDefault><i class="fas fa-chevron-right"></i> @cat</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="card sidebar-card mb-4">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Archives</h5>
                            <ul class="sidebar-card-list">
                                @foreach (var mon in ListMonth)
                                {
                                    <li><a href="#" @onclick="()=>SearchByMonth(mon)" @onclick:preventDefault><i class="fas fa-chevron-right"></i> @mon.Name</a></li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="card sidebar-card mb-4">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Tags</h5>
                            <div class="tagcloud">
                               
                                @foreach (var tag in ListTag)
                                {
                                    <a class="tag-cloud-link" @onclick="()=>SearchByTag(tag)" @onclick:preventDefault href="#">@tag</a>

                                }
                            </div>
                        </div>
                    </div>
                    <div class="card sidebar-card mb-4">
                        <div class="card-body">
                            <h5 class="card-title mb-4">Popular Posts</h5>
                            @if (TrendingBlogs != null)
                                @foreach (var item in TrendingBlogs)
                                {
                                    <a href="@($"blog-detail/{item.Id}")">
                                        <h6>@item.Title</h6>
                                    </a>
                                    <p class="mb-0"><i class="fas fa-calendar-text"></i> @item.CreatedDate.ToString("MMMM dd, yyyy")</p>
                                    <hr>
                                }
                        </div>
                    </div>
                    <div style="display:none" class="card sidebar-card mb-4">
                        <div class="card-body">
                            <h5 class="card-title mb-4">Newsletter</h5>
                            <div class="input-group">
                                <input type="text" placeholder="Your email address" class="form-control">
                                <div class="input-group-append">
                                    <button type="button" class="btn btn-secondary">Sign up <i class="fas fa-arrow-right"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="display:none" class="card sidebar-card mb-4">
                        <div class="card-body">
                            <h5 class="card-title mb-3">Meta</h5>
                            <ul class="sidebar-card-list">
                                <li><a href="#"><i class="fas fa-chevron-right"></i> Log in</a></li>
                                <li><a href="#"><i class="fas fa-chevron-right"></i> Entries RSS</a></li>
                                <li><a href="#"><i class="fas fa-chevron-right"></i> Comments RSS</a></li>
                                <li><a href="#"><i class="fas fa-chevron-right"></i> WordPress.org</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@code {
    public List<string> ListCategory { get; set; } = new();
    public List<string> ListTag { get; set; } = new();
    public List<MonthBlog> ListMonth { get; set; } = new();
    public List<Blog> LatestBlogs { get; set; }
    public BlogComment NewComment { get; set; } = new();
    string Keyword = "";

    public List<Blog> TrendingBlogs { get; set; }
    public Blog DataBlog { get; set; } = new();
    public UserProfile SelUser { get; set; } = new();
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    string UserName;
    [Parameter]
    public long BlogId { get; set; }

    string[] Tags = null;
    protected override async Task OnInitializedAsync()
    {

        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            UserName = user.Identity.Name;
            SelUser = UserSvc.GetItemByUsername(UserName);

        }
        LoadData();


    }
    string ErrorMsg = "";
    async Task SaveComment()
    {
        NewComment.BlogId = DataBlog.Id;
        ErrorMsg = string.Empty;
        NewComment.CreatedDate = DateHelper.GetLocalTimeNow();
        if (string.IsNullOrEmpty(NewComment.Name))
        {
            ErrorMsg += "Isi nama yah. ";
        }
        if (string.IsNullOrEmpty(NewComment.Comment))
        {
            ErrorMsg += "Isi komentar yah. ";
        }
        if (string.IsNullOrEmpty(NewComment.Email))
        {
            ErrorMsg += "Isi email yah. ";
        }
        if (!string.IsNullOrEmpty(ErrorMsg))
        {
            toastService.ShowInfo(ErrorMsg);
            return;
        }
        var res = BlogCommentSvc.InsertData(NewComment);
        if (res)
        {
            NewComment = new();
            LoadData();
            toastService.ShowInfo("komentar terkirim.");
        }
    }
    protected override async Task OnParametersSetAsync()
    {
        LoadData();
    }
    void LoadData()
    {
        DataBlog = BlogSvc.GetDataById(BlogId);

        TrendingBlogs = BlogSvc.GetTrending();

        LatestBlogs = BlogSvc.GetLatest(Keyword);

        var tagset = new HashSet<string>();
        var categoryset = new HashSet<string>();
        LatestBlogs.Select(x => x.Tags).ToList().ForEach(x =>
        {
            var tags = x.Split(',');
            foreach (var tag in tags)
                if (!tagset.Contains(tag.Trim()))
                {
                    tagset.Add(tag.Trim());
                }

        });
        LatestBlogs.Select(x => x.Category).ToList().ForEach(category =>
        {
            if (!categoryset.Contains(category.Trim()))
            {
                categoryset.Add(category.Trim());
            }
        });
        ListTag = tagset.ToList();
        ListCategory = categoryset.ToList();
        ListMonth = LatestBlogs.Select(x => new MonthBlog() { Name = x.CreatedDate.ToString("MMMM yyyy"), Month = x.CreatedDate.Month, Year = x.CreatedDate.Year }).ToList();
        ListMonth = (
            from p in ListMonth
            group p by p.Name into g
            select new MonthBlog { Name = g.Key, Month = g.First().Month, Year = g.First().Year }
            ).ToList();
    }
    private void KeyUp(KeyboardEventArgs e)
    {
        if (e.Key == "Enter")
        {
            NavMgr.NavigateTo($"/list-blog/{Keyword}");
        }
    }
    void SearchByTag(string tag)
    {
        NavMgr.NavigateTo($"/blog/tags/{Uri.EscapeDataString(tag)}");
    }
    void SearchByCategory(string Cat)
    {
        NavMgr.NavigateTo($"/blog/category/{Uri.EscapeDataString(Cat)}");
    }
    void SearchByMonth(MonthBlog item)
    {
        NavMgr.NavigateTo($"/blog/month/{item.Month}/{item.Year}");
    } 
    void Search()
    {
        NavMgr.NavigateTo($"/blog/{Keyword}");
    }
   
}
