@page "/channels"
@page "/channels/{Category}"
@inject IJSRuntime IJS
@inject NavigationManager NavMgr
@inject IToastService toastService
@inject ChannelService ChannelSvc
@inject PostService PostSvc
@inject UserProfileService UserSvc

<div class="container-fluid pb-0">
    <div class="video-block section-padding">
        <AuthorizeView>
            <Authorized>
                <div class="row">
                    <div class="col-md-12">
                        <div class="osahan-area text-center mt-3">
                            <button @onclick="AddNewChannel" data-toggle="modal" data-target="#taskModal" class="btn btn-outline-primary">Buat Baru</button>
                        </div>
                    </div>
                </div>
            </Authorized>
        </AuthorizeView>
        <div class="row">
            <div class="col-md-12">
                <div class="main-title">
                    <div class="btn-group float-right right-action">
                        <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" @onclick:preventDefault @onclick="()=>SetFilter(FilterTypes.Channel,FilterChannels.TopRated)"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                            <a class="dropdown-item" href="#" @onclick:preventDefault @onclick="()=>SetFilter(FilterTypes.Channel,FilterChannels.TopViewed)"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>

                        </div>
                    </div>
                    <h6>Channels @(string.IsNullOrEmpty(Category)?"":$": {Category}")</h6>
                </div>
            </div>
            <Virtualize Items="@ListChannel" Context="item">

                <div @key="item.Id" class="col-xl-3 col-sm-6 mb-3">
                    <div class="channels-card">
                        <div class="channels-card-image">
                            <a href="@($"/single-channel/{item.Id}")"><img class="img-fluid" src="@(string.IsNullOrEmpty(item.PicUrl)?"img/s1.png":item.PicUrl)" alt=""></a>
                            <div class="channels-card-image-btn"><button type="button" @onclick="()=>ToggleSubscribe(item)" class="@((Subscribed.ContainsKey(item.Id) && Subscribed[item.Id]) ?  "btn btn-outline-secondary btn-sm" :"btn btn-outline-danger btn-sm" )"> @((Subscribed.ContainsKey(item.Id) && Subscribed[item.Id]) ? "Subscribed" : "Subscribe") <strong>@NumberHelper.FormatNumber(item.Subscribers.Count)</strong></button></div>
                        </div>
                        <div class="channels-card-body">
                            <div class="channels-title">
                                <a href="@($"/single-channel/{item.Id}")">@item.Name</a>
                            </div>
                            <div class="channels-view">
                                @item.Subscribers.Count.ToString("n0") subscribers
                            </div>
                        </div>
                    </div>
                </div>

            </Virtualize>
        </div>
        <nav style="display:none;" aria-label="Page navigation example">
            <ul class="pagination justify-content-center pagination-sm mb-4">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Previous</a>
                </li>
                <li class="page-item active"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Next</a>
                </li>
            </ul>
        </nav>
    </div>
    <hr>
    <div class="video-block section-padding">
        <div class="row">
            <div class="col-md-12">
                <div class="main-title">
                    <div class="btn-group float-right right-action">
                        <a href="#" class="right-action-link text-gray" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sort by <i class="fa fa-caret-down" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="#" @onclick:preventDefault @onclick="()=>SetFilter(FilterTypes.Featured,FilterChannels.TopRated)"><i class="fas fa-fw fa-star"></i> &nbsp; Top Rated</a>
                            <a class="dropdown-item" href="#" @onclick:preventDefault @onclick="()=>SetFilter(FilterTypes.Featured,FilterChannels.TopViewed)"><i class="fas fa-fw fa-signal"></i> &nbsp; Viewed</a>

                        </div>
                    </div>
                    <h6>Featured Videos</h6>
                </div>
            </div>
            <Virtualize Items="@ListFeatured" Context="item">
                <div @key="item.Id" class="col-xl-3 col-sm-6 mb-3">
                    <div class="video-card">
                        <div class="video-card-image">
                            <a class="play-icon" href="#"><i class="fas fa-play-circle"></i></a>
                            <a href="@($"video-page/{item.Id}")"><img class="img-fluid" src="@(string.IsNullOrEmpty(item.ImageUrls)?"img/v5.png":item.ImageUrls)" alt=""></a>
                            <div class="time">@(item.Duration != null ? $"{item.Duration.Value.Hours}:{item.Duration.Value.Minutes}:{item.Duration.Value.Seconds}" : "00:00")</div>
                        </div>
                        <div class="video-card-body">
                            <div class="video-title">
                                <a href="@($"video-page/{item.Id}")">@item.Title</a>
                            </div>
                            <div class="video-page text-success">
                                @item.Category  <a title="" data-placement="top" data-toggle="tooltip" href="#" data-original-title="Verified"><i class="fas fa-check-circle text-success"></i></a>
                            </div>
                            <div class="video-view">
                                @NumberHelper.FormatNumber(item.PostViews.Count) views &nbsp;<i class="fas fa-calendar-alt"></i> @DateHelper.GetElapsedTime(item.CreatedDate)
                            </div>
                        </div>
                    </div>
                </div>
            </Virtualize>


        </div>
    </div>
</div>
<ChannelDetail @ref="detail" TaskObject=@itemObject DataChanged="@DataChanged">
    <CustomHeader>@customHeader</CustomHeader>
</ChannelDetail>

@code {
    [Parameter]
    public string Category { get; set; }
    string customHeader = "Tambah Channel";
    public Channel itemObject { get; set; } = new();
    ChannelDetail detail;
    public string FilterChannel { get; set; } = FilterChannels.TopViewed;
    public string FilterFeatured { get; set; } = FilterChannels.TopViewed;
    public UserProfile SelUser { get; set; }
    string UserName { set; get; }
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    public List<Channel> ListChannel { get; set; } = new();
    public List<Post> ListFeatured { get; set; } = new();
    public Dictionary<long, bool> Subscribed { get; set; } = new();
    bool HasLogin = false;

    private async void DataChanged()
    {
        LoadData();
        StateHasChanged();
    }
    protected override async Task OnInitializedAsync()
    {

        var user = (await authenticationStateTask).User;

        if (user.Identity.IsAuthenticated)
        {
            UserName = user.Identity.Name;
            SelUser = UserSvc.GetItemByUsername(UserName);
            HasLogin = true;
        }
        LoadData();
    }
    public enum FilterTypes { Channel, Featured }
    void SetFilter(FilterTypes filterType, string Filter)
    {
        if (filterType == FilterTypes.Channel)
        {
            FilterChannel = Filter;
        }
        else
        {
            FilterFeatured = Filter;
        }
        LoadData();
    }

    void LoadData()
    {
        ListChannel = string.IsNullOrEmpty(Category)? ChannelSvc.GetLatest(FilterChannel) : ChannelSvc.GetByCategory(Category,FilterChannel);
        ListFeatured = string.IsNullOrEmpty(Category) ? PostSvc.GetFeatured(FilterFeatured) : PostSvc.GetByCategory(Category, FilterFeatured);
        Subscribed.Clear();
        if(!string.IsNullOrEmpty(UserName))
            foreach (var channel in ListChannel)
            {
                Subscribed.Add(channel.Id, channel.Subscribers.Any(x => x.UserId == SelUser.Id));
            }
    }

    async Task OpenChannel(Channel item)
    {
        NavMgr.NavigateTo($"/single-channel/{item.Id}");
    }

    async Task ToggleSubscribe(Channel item)
    {
        if (!HasLogin)
        {
            toastService.ShowWarning("Please login first.");
            return;
        }
        if (item.UserName == SelUser.Username)
        {
            toastService.ShowWarning("Kamu ga bisa subscribe channel sendiri.");
            return;
        }
        var state = !Subscribed[item.Id];
        if (state)
        {
            ChannelSvc.Subscribe(SelUser.Id, SelUser.Username, item.Id);
        }
        else
        {
            ChannelSvc.UnSubscribe(SelUser.Id, item.Id);
        }
    }

    async Task AddNewChannel()
    {
        itemObject = new Channel();
        itemObject.CreatedDate = DateHelper.GetLocalTimeNow();
        itemObject.UserId = SelUser.Id;
        itemObject.UserName = SelUser.Username;
    }
}
